!.config/alacritty
!.config/awesome
!.config/nvim
!.config/polybar
!.config/rofi

AUR
.bash_history
.bash_logout
.cache
.config
Customization
Desktop
Downloads
.fehbg
.gnupg
.local
.mozilla
Pictures
.pki
School
.ssh
.thumbnails
.tooling
.vscode-oss
.Xauthority

