AUR
.asoundrc
.asoundrc.asoundconf
.bash_history
.bash_logout
.cache
.config
Customization
Desktop
Downloads
ECE39595
.fehbg
Fonts
.gnupg
.gtk-bookmarks
.local
.mozilla
Pictures
.pki
School
.ssh
.thumbnails
.tooling
.vscode-oss
.Xauthority

!~/.config/alacritty
!~/.config/awesome
!~/.config/polybar
!~/.config/rofi
!~/.config/nvim
!~/.config/previews

